/* Global Styles */
body {
    background-color: #222; /* Dark background color */
    font-family: 'Milky Nice', Arial, sans-serif;
    color: #fff; /* White text color on dark background */
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #333; /* Slightly lighter background for the container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Header */
header {
    background-color: #56B2E0;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Sections */
section {
    margin-bottom: 40px;
}

h2 {
    color: #E085E5;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    color: #56B2E0;
    text-decoration: none;
}

/* Skills */
.skills-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list li {
    background-color: #E085E5;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Projects */
.project {
    background-color: #444; /* Darker background for projects */
    border: 1px solid #555;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

/* Highlight text */
.highlight {
    color: #E085E5;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
